            <!-- table data -->
              <table class="min-w-full divide-y divide-gray-300">
                <thead>
                  <tr>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">업소명</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">주소</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">사업자등록일</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">업종</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">업태</th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                  {% for row in rows %}
                  <tr>
                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">{{row.bplcNm}}</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{row.siteWhlAddr}}</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{row.apvPermYmd}}</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{row.upjong}}</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{row.uptaeNm}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

              <!-- 페이지네이션 컨트롤 추가 -->
              <div id="pagenation" class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6">
                <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
                  <div>
                    <p class="text-sm text-gray-700">
                      전체 <span class="font-medium">{{ page_count * 20 }}</span> 결과 중 <span class="font-medium">{{ (page_number-1) * 20 + 1}} </span> 에서 <span class="font-medium">{{ page_number * 20 }}</span> 까지 표시
                    </p>
                  </div>
                  <div>
                    <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
                      <a hx-get="/update-data" hx-target="#localdata, #pagenation" hx-include="[name='start'],[name='end'],[name='location']" hx-vals='{"page": {{ page_number - 1 }}}' class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                        <span class="sr-only">이전</span>
                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                        </svg>
                      </a>

                      {% for i in range(page_number - 5, page_number + 6) %}
                      {% if i > 0 and i <= page_count %}
                      {% if i == page_number %}
                      <a hx-get="/update-data" hx-target="#localdata" hx-include="[name='start'],[name='end'],[name='location']" hx-vals='{"page": {{ i }}}' aria-current="page" class="relative z-10 inline-flex items-center bg-indigo-600 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">{{ i }}</a>
                      {% else %}
                      <a hx-get="/update-data" hx-target="#localdata" hx-include="[name='start'],[name='end'],[name='location']" hx-vals='{"page": {{ i }}}' class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">{{ i }}</a>
                      {% endif %}
                      {% endif %}
                      {% endfor %}

                      <a hx-get="/update-data" hx-target="#localdata, #pagenation" hx-include="[name='start'],[name='end'],[name='location']" hx-vals='{"page": {{ page_number + 1 }}}' class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                        <span class="sr-only">다음</span>
                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                        </svg>
                      </a>
                    </nav>
                  </div>
                </div>
              </div>
              <!-- 페이지네이션 컨트롤 -->
